1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [14]:
for i in range (1,101): 
    
    if i%15==0:
        print("MickeyMouse")
    elif i%5==0:
        print("Mouse")
    elif i%3==0:
        print("Mickey")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [8]:
l1 = []

for i in range (1,101): 
    
    if i%15==0:
        l1.append("MickeyMouse")
    elif i%5==0:
        l1.append("Mouse")
    elif i%3==0:
        l1.append("Mickey")
    else:
        l1.append(i)
print(l1)

for i in range(0,len(l1)): 
    
    if l1[i]=='Mickey':
        l1[i]='Donald'
    elif l1[i]=='Mouse':
        l1[i]='Duck'
    elif l1[i]=='MickeyMouse':
        l1[i]='DonaldDuck'
    else:
        l1[i]=l1[i]
tuple(l1)
print(l1)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [6]:
def swap(a,b):
    s=a
    t=b
    return(t,s)

x=3
y=4
swap(x,y)
print("x=", x)
print("y=", y)

x= 3
y= 4

In [7]:
def swap2(a,b):
    return(b,a)
x=3
y=4
swap2(x,y)
print("x=", x)
print("y=", y)

x= 3
y= 4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [10]:
import math as m
u=[3,0]
v=[0,4]
def distance(a,b):
    d=m.sqrt((a[0]-b[0])**2+(a[1]-b[1])**2)
    return d

print(distance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [11]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [16]:
from string import ascii_lowercase as alc
for i in alc:
    print (i,"   ",s.count(i))
    
#list a string with a for loop
cnt=[]
for i in alc:
    cnt.append(s.count(i))
print(c1)
#or with list()
char=list(s)

['W', 'r', 'i', 't', 'e', ' ', 'a', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', ' ', 't', 'h', 'a', 't', ' ', 'p', 'r', 'i', 'n', 't', 's', ' ', 't', 'h', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', 's', ' ', 'f', 'r', 'o', 'm', ' ', '1', ' ', 't', 'o', ' ', '1', '0', '0', '.', ' ', 'B', 'u', 't', ' ', 'f', 'o', 'r', ' ', 'm', 'u', 'l', 't', 'i', 'p', 'l', 'e', 's', ' ', 'o', 'f', ' ', 't', 'h', 'r', 'e', 'e', ' ', 'p', 'r', 'i', 'n', 't', ' ', 'M', 'i', 'c', 'k', 'e', 'y', ' ', 'i', 'n', 's', 't', 'e', 'a', 'd', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', 'a', 'n', 'd', ' ', 'f', 'o', 'r', ' ', 't', 'h', 'e', ' ', 'm', 'u', 'l', 't', 'i', 'p', 'l', 'e', 's', ' ', 'o', 'f', ' ', 'f', 'i', 'v', 'e', ' ', 'p', 'r', 'i', 'n', 't', ' ', 'M', 'o', 'u', 's', 'e', '.', ' ', 'F', 'o', 'r', ' ', 'n', 'u', 'm', 'b', 'e', 'r', 's', ' ', 'w', 'h', 'i', 'c', 'h', ' ', 'a', 'r', 'e', ' ', 'm', 'u', 'l', 't', 'i', 'p', 'l', 'e', 's', ' ', 'o', 'f', ' ', 'b', 'o', 't', 'h', ' ', 't', 'h', 'r', 'e', 'e', ' ', 'a', 'n', 'd', ' ', 'f', 'i', 'v', 'e', ' ', 'p', 'r', 'i', 'n', 't', ' ', 'M', 'i', 'c', 'k', 'e', 'y', 'M', 'o', 'u', 's', 'e']
a     7
b     4
c     3
d     3
e     22
f     9
g     1
h     9
i     14
j     0
k     2
l     6
m     8
n     10
o     13
p     8
q     0
r     17
s     9
t     19
u     9
v     2
w     1
x     0
y     2
z     0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [17]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [28]:
from collections import Counter
l2=list(set(l))
#Counter(l).keys() # equals to list(set(words))
l3=list(Counter(l).values()) # counts the elements' frequency
print(l2)
for i in range(0,len(l3)):
    if l3[i]==1:
        print(l2[i])

[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]
5
9
10
16
19
20
24
30
31
33
34
41
50
51
54
55
57
58
63
64
70
74
81
82
84
85
86
87
88
89
90
92
94
95
96
98
99

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [30]:
def pow2(x):
    return(x**2.0)

def pow3(x):
    return(x**3.0)

def pow6(x):
    return(pow3(pow2(x)))


print(4**6.0)
print(pow6(4))

4096.0
4096.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [35]:
#a
cubes_l=[]
for i in range(0,11):
    cubes_l.append(i**3.0)
print(cubes_l)

#b
cubes_c=[x**3.0 for x in range(11)] 
print(cubes_c)

[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]
[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [1]:
top=100
c=0
m=2
triples=[]
while(c<top):
    for n in range(1,m+1):
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        l1=(a,b,c)
        if(c>top):
            break
        if(a==0 or b==0 or c==0):
            break
        triples.append(l1)
    m+=1
triples_tpl=tuple(triples)
print(triples_tpl)

((3, 4, 5), (8, 6, 10), (5, 12, 13), (15, 8, 17), (12, 16, 20), (7, 24, 25), (24, 10, 26), (21, 20, 29), (16, 30, 34), (9, 40, 41), (35, 12, 37), (32, 24, 40), (27, 36, 45), (20, 48, 52), (11, 60, 61), (48, 14, 50), (45, 28, 53), (40, 42, 58), (33, 56, 65), (24, 70, 74), (13, 84, 85), (63, 16, 65), (60, 32, 68), (55, 48, 73), (48, 64, 80), (39, 80, 89), (28, 96, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
def norm(a):
    list(a)
    a_norm = [float(i)/sum(a) for i in a]
    a_norm=tuple(a_norm)
    return(a_norm)

l1=(3,6,23,8,3,5,9,7,54,53,235,67,352,5,2)
print(norm(l1))

(0.003605769230769231, 0.007211538461538462, 0.027644230769230768, 0.009615384615384616, 0.003605769230769231, 0.006009615384615385, 0.010817307692307692, 0.008413461538461538, 0.06490384615384616, 0.06370192307692307, 0.2824519230769231, 0.08052884615384616, 0.4230769230769231, 0.006009615384615385, 0.002403846153846154)